
.greeting{
    color: #3E88A5;
}

.card-backround{
    background-color: #d7ecf1 !important;
}

.margin-right{
    margin-right: 1rem;
    
    }


    @media screen and (min-width: 768px){
  
    
        .margin-right{
            margin-left: -1rem;
            
            }
      }